*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
}

/* Inicio Header*/
.yunah{
    background-color: #181818;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    z-index: 9;
    
}
.minju{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 28px;
}
.minju a{
    text-decoration: none;
    color: #ddd;
    padding: 20px;
}
.minju a:hover{
    color: #ffffff;
 
}
/* Fim do Header*/

/* Inicio do Main*/
.moka{
    width: 100%;
    background-color: #000;
    height: calc(100vh - 80px);
    background-image: url(Img/programador.png);
    display: flex;
    align-items: center;
    padding-left: 10%;
}

.moka h1{
    color: #ffffff;
    font-size: 54px;
}

.moka p{
    font-size: 24px;
    font-style: italic;
    color: #1e96FC;
    margin-top: 10px;
    margin-bottom: 35px;

}
.wonhee{
    cursor: pointer;
    background-color: #ffffff;
    border:0;
    padding: 14px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.9s;
}

.wonhee:hover{
    transform: scale(1.1);
}

.wonhee a{
    text-decoration: none;
    color: #181818;
}
/* Fim do Main*/

/* Inicio do About*/
.iroha{
    background-color: #ffffff;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.iroha div{
    max-width: 50%;
    padding-right: 40px;

}

.iroha img{
    max-width: 450px;
    border-radius: 8px;
}

.iroha div h2{
    font-size: 32px;
    margin-bottom: 14px;
}
/*Fim do About*/

/* Inicio dos projetos*/
.illit{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
}

.illit h2{
    font-size: 32px;
    margin-bottom: 8px;
    margin-top: 20px;
}

.illit p{
    margin-bottom: 40px;
    font-style: italic;
}

.illit-list{
    width: 100%;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.illit img{
    width: 22%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    opacity: 0.8;
    transition: 0.9s;
}

.illit img:hover{
    opacity: 1;
}

.lena{
background-color: #181818;
border: 0;
padding: 12px 28px;
border-radius: 4px;
font-size: 18px;
color: #ffffff;
margin-top: 18px;
cursor: pointer;
}
/* Fim dos Projetos*/

/* Inicio do Rodape*/
footer {
    width: 100%;
    background-color: #181818;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

footer p {
    margin-left: 12px;
}
/*Fim do Rodape*/